[submodule "libraries/jsoncpp"]
	path = libraries/jsoncpp
	url = https://github.com/jorgebarreraa/jsoncpp.git
	branch = master
[submodule "libraries/Thread-Pool"]
	path = libraries/Thread-Pool
	url = https://github.com/jorgebarreraa/Thread-Pool.git
	branch = master
[submodule "libraries/tomcrypt"]
	path = libraries/tomcrypt
	url = https://github.com/jorgebarreraa/tomcrypt.git
[submodule "libraries/tommath"]
	branch = develop
	path = libraries/tommath
	url = https://github.com/jorgebarreraa/tommath.git
[submodule "libraries/CXXTerminal"]
	path = libraries/CXXTerminal
	url = https://github.com/jorgebarreraa/CXXTerminal.git
	branch = master
[submodule "libraries/opus"]
	path = libraries/opus
	url = https://github.com/jorgebarreraa/opus.git
[submodule "libraries/opusfile"]
	path = libraries/opusfile
	url = https://github.com/jorgebarreraa/opusfile.git
[submodule "libraries/yaml-cpp"]
	path = libraries/yaml-cpp
	url = https://github.com/jorgebarreraa/yaml-cpp.git
[submodule "libraries/event"]
	path = libraries/event
	url = https://github.com/jorgebarreraa/libevent.git
[submodule "TeaSpeak"]
	path = TeaSpeak
	url = https://github.com/jorgebarreraa/TeaSpeak-Server.git
[submodule "libraries/spdlog"]
	path = libraries/spdlog
	url = https://github.com/jorgebarreraa/spdlog.git
[submodule "libraries/StringVariable"]
	path = libraries/StringVariable
	url = https://github.com/jorgebarreraa/StringVariable.git
[submodule "libraries/ed25519"]
	path = libraries/ed25519
	url = https://github.com/jorgebarreraa/ed25519.git
[submodule "libraries/breakpad"]
	path = libraries/breakpad
	url = https://github.com/jorgebarreraa/breakpad.git
[submodule "libraries/boringssl"]
	path = libraries/boringssl
	url = https://github.com/jorgebarreraa/boringssl.git
[submodule "libraries/protobuf"]
	path = libraries/protobuf
	url = https://github.com/jorgebarreraa/protobuf.git
	branch = 3.5.1.1
[submodule "libraries/DataPipes"]
	path = libraries/DataPipes
	url = https://github.com/jorgebarreraa/DataPipes.git
[submodule "libraries/jemalloc"]
	path = libraries/jemalloc
	url = https://github.com/jorgebarreraa/jemalloc.git
	branch = dev
[submodule "build-helpers"]
	path = build-helpers
	url = https://github.com/jorgebarreraa/build-helpers.git
[submodule "libraries/libnice"]
	path = libraries/libnice
	url = https://github.com/jorgebarreraa/libnice-prebuild.git
[submodule "libraries/glibc"]
	path = libraries/glibc
	url = https://github.com/jorgebarreraa/glib2.0.git
[submodule "libraries/openssl-prebuild"]
	path = libraries/openssl-prebuild
	url = https://github.com/jorgebarreraa/openssl-prebuild.git
[submodule "TeaDNS"]
	path = TeaDNS
	url = https://github.com/jorgebarreraa/TeaDNS.git
[submodule "libraries/zstd"]
	path = libraries/zstd
	url = https://github.com/jorgebarreraa/zstd.git
